.home-banner{
    background-image: url(https://tpc.googlesyndication.com/simgad/13075309335585855303?);
    background-position: center;
    background-repeat: no-repeat;
    height: 480px;
    width: 100%;
    background-size: 100% 100%;
}